html {
  scroll-behavior: smooth;
}
:root {
  --logginBg: #6d716e;
  --whiteColor: #ffffff;
  --contentBg: #a4c5b3;
  --lighGrey: #6c6e6d;
  --black: #222;
}

li {
  list-style-type: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
label {
  display: block;
}
#light {
  background: var(--whiteColor);
}
#dark {
  background: black;
}
#bf {
  background: r;
}

.login-form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-container {
  padding: 1rem;
  background: #a4c4b5;
  min-height: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

#dark .content-container P,
#dark,
content-container h3 {
  color: var(--whiteColor);
}
.content-container p,
.content-container h3 {
  color: blavck;
  max-width: 15rem;
  text-align: center;
  margin-top: 1rem;
}
.hide-modal {
  display: none;
}
.search-items {
  cursor: pointer;
}

/*Login Form */
#dark .login-form {
  background: transparent;
}
.login-form {
  background: var(--whiteColor);
  min-width: 250px;
  max-width: 400px;
  min-height: 400px;
  padding: 1rem;
  border-radius: 15px;
}
.form-control {
  margin-block: 1.5rem;
}
#dark .form-control label {
  color: var(--whiteColor);
}
.form-control label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#dark form-control input {
  color: var(--whiteColor);
}

.form-control input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  color: black;
  outline: none;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid --lighGrey;
  border-radius: 10px;
}

.form-control input:focus {
  border-bottom: 2px solid var(--logginBg);
  border-radius: none;
  background: #e8f0fe;
}

#dark .login-btn {
  color: var(--whiteColor);
}
.login-btn {
  border: none;
  width: 200px;
  height: 40px;
  background: var(--logginBg);
  border-radius: 30px;
  color: black;
  font-size: 1.5rem;
  margin-left: 20px;
}

.modal-form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search-btn {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
}
.search-modal {
  background: green;
}
.pokemon-search-btn {
  color: black;
  background: white;
}
#dark .pokemon-search-btn {
  background: transparent;
  color: var(--whiteColor);
}
.add-cusor {
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .login-form-container {
    flex-direction: row;
  }
  .content-container {
    display: flex;
  }
  .login-form {
    border-radius: 0;
  }
}
.error {
  color: red;
  visibility: none;
}
.loading-text {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin-top: 1rem;
}
.home-page-header {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.pagination-con {
  display: flex;
  justify-content: center;
}
.pagination-con input {
  margin: 10px 5px;
  cursor: pointer;
}
.switch {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.toggle-btn {
  color: black;
}
#dark .toggle-btn {
  color: var(--whiteColor);
}
/* Pokemon Info*/
.pokemon-info {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.pokemon-img {
  min-height: 219.5px;
  width: 200px;
  border-radius: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: 1px solid grey;
}
.card-body h3 {
  text-align: center;
  font-size: 1.3rem;
  text-transform: capitalize;
}

#dark .card li {
  color: var(--whiteColor);
}
.card li {
  text-align: center;
}
.pokemon-pagination {
  margin-block: 1rem;
  justify-content: center;
  display: flex;
  gap: 2rem;
}
.single-pokemon {
  margin-block: 0.5rem;
  min-height: 150px;
  border: 1px solid var(--contentBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-pokemon h3,
.single-pokemon img {
  cursor: pointer;
}
.card-link {
  text-decoration: none;
  color: var(--lighGrey);
}
.pokemon-container {
  display: grid;
  padding-inline: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .pokemon-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
